<% categories_present = ResourceCategory.for_assets.where(project: @project).any? %>
<div class="contextual">
<% if User.current.allowed_to? :manage_resource_items, @project %>
  <%= link_to l(:label_asset_resource_item_new), new_project_asset_resource_item_path(@project), class: 'icon icon-add' %>
<% end %>
</div>

<h2><%= l :label_asset_resource_item_plural %></h2>

<% if @resource_items.any? %>
  <table class="list resource_items">
    <thead>
      <tr>
        <% if categories_present %>
        <th><%= l :label_resource_item_category %></th>
        <% end %>
        <th><%= l :label_resource_item_name %></th>
        <th><%= l :label_resource_item_start_date %></th>
        <th><%= l :label_resource_item_end_date %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for i in @resource_items %>
        <tr>
          <% if categories_present %>
          <td class="category"><%= i.category&.name %>
          <% end %>
          <td class="name"><%= link_to i.name, edit_project_asset_resource_item_path(@project, i) %></td>
          <td class="date"><%= format_date(i.start_date) %></td>
          <td class="date"><%= format_date(i.end_date) %></td>
          <td class="buttons">
            <%= reorder_handle(i, url: project_asset_resource_item_path(@project, i)) %>
            <%= delete_link project_asset_resource_item_path(@project, i) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l :label_no_data %></p>
<% end %>

<%= javascript_tag do %>
  $(function() {
    $("table.resource_items tbody").positionedItems({
      scroll: false,
      sort: function (event, ui) {
        ui.helper.css({'top': ui.position.top + $(window).scrollTop() + 'px'});
      },
    });
  });
<% end %>
