<%= error_messages_for 'supply_item' %>

<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 25 %></p>
  <% if f.object.new_record? %>
    <p><%= f.text_field :stock, required: true, size: 25, label: l(:field_supply_item_stock) %></p>
  <% else %>
    <p><%= f.label :stock %><span><%= @supply_item.stock %></span></p>
  <% end %>
  <p><%= f.select :unit, SupplyItem.units.keys.map{|u|[t(:"label_supply_item_unit_#{u}"), u]}, label: l(:field_supply_item_unit) %></p>

  <% f.object.visible_custom_field_values.each do |value| %>
    <p><%= custom_field_tag_with_label :supply_item, value %></p>
  <% end %>
  <p><%= f.text_area :description, label: l(:field_supply_item_description), rows: 10 %></p>
</div>

<%= wikitoolbar_for 'supply_item_description' %>

