<%= error_messages_for 'resource_item' %>

<div class="box tabular">
  <p><%= f.text_field :name, required: true, size: 25 %></p>
  <p><%= f.date_field :start_date, label: l(:field_resource_item_start_date) %></p>
  <p><%= f.date_field :end_date, label: l(:field_resource_item_end_date) %></p>
  <% if categories.any? %>
    <p><%= f.select :category_id, categories.sorted.map{|c|[c.name, c.id]}, label: l(:field_resource_category), include_blank: true %></p>
  <% end %>
  <p><%= f.check_box :active %></p>
</div>
