<%= title [l(:label_human_resource_item_plural), project_human_resource_items_path(@project)], l(:label_human_resource_item_new) %>

<%= labelled_form_for @resource_item, url: project_human_resource_items_path(@project) do |f| %>
  <%= render partial: 'resource_items/form', locals: { f: f } %>
  <p>
    <%= submit_tag l :button_create %>
    <%= submit_tag l(:button_create_and_continue), name: 'continue' %>
  </p>
<% end %>


